@import '../../shared/styles/index.scss';

.loader {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    img {
        width: 150px;
    }
}

.bet-list {
    @extend %main-wrapper;
}