@import '../../shared/styles/index.scss';

.summary {
    @extend %main-wrapper;
    @extend %separator;
}

.summary__title {
    @extend %medium-title;
}

.summary__info {
    @extend %content-wrapper;

    p {
        font-size: $medium-text;
    }
}