%bet-button {
    width: 100px;
    padding: 1px 0 6px;
    border: none;
    border-radius: 4px;
    background: $bg-yellow;

    &:hover {
        background: $bg-dark-yellow;
        cursor: pointer;
    }

    &.selected {
        background: $bg-black;
        color: $bg-dark-yellow
    }
}