%bet-button {
    width: 100px;
    padding: 1px 0 6px;
    border: none;
    border-radius: 4px;
    background: $bg-yellow;

    &:hover {
        background: $bg-dark-yellow;
        cursor: pointer;
    }

    &.selected {
        background: $bg-black;
        color: $bg-dark-yellow
    }
}

%action-button {
    width: 130px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background: $bg-red;
    color: $bg-white;

    &:hover {
        background: $bg-dark-red;
        cursor: pointer;
    }
}

%input-text {
    height: 20px;
    border-radius: 4px;
    border: 1px solid black;
}

%small-icon {
    width: 35px;
}

%medium-title {
    margin-top: 20px;
}

%separator {
    border-top: 1px solid $bg-dark-grey;
}