$bg-red: #970006;
$bg-dark-red: #7a0005;
$bg-yellow: #fc0;
$bg-dark-yellow: #e6b800;
$bg-grey: #F7F8FA;
$bg-dark-grey: #c7c7c7;
$bg-black: #111;
$bg-white: #FFFFFF;

$text-bold: 600;

$small-text: 10px;
$medium-text: 13px;