%extended-wrapper {
    width: 100%;
    padding: 10px;
    color: $bg-white;
}

%main-wrapper {
    width: 80%;
    margin: 25px;
    padding: 0 5px;
}

%content-wrapper {
    background: $bg-grey;
    padding: 15px 20px;
}