@import '../shared/styles/index.scss';

.betting-page {
    // Substract footer height + header height
    min-height: calc(100% - 218px);
}

.betting-page__validation {
    @extend %main-wrapper;
    text-align: right;

    button {
        @extend %action-button
    }
}