@import '../../shared/styles/index.scss';

.stake {
    @extend %main-wrapper;
    @extend %separator;
}

.stake__title {
    @extend %medium-title;
}

.stake__input {
    @extend %content-wrapper;

    display: flex;
    align-items: center;

    p {
        margin: 0;
        font-size: $medium-text;
    }

    input {
        @extend %input-text;
        margin-left: 20px;
    }
}